<h1>
  {{title}}
</h1>

  <nav>
      <!--<a routerLink = "/users">Users</a> |    
       <a routerLink = "/posts">Posts</a> |
        <a routerLink = "/leads">Leads</a> |
        <a routerLink = "/products">Products</a>|
          <a routerLink = "/product">Product</a>-->
          <a routerLink = "/products">invoice Form:</a>|
          <a routerLink = "/product">invoice:</a>
  </nav>
<!--<jce-users></jce-users>-->
<router-outlet></router-outlet>    <!--פה שינינו ללכת לפי הראוט ולא קומפוננט מסויים -->
<!--<jce-posts></jce-poshts> ללכלת לראוט של פוסטס-->
