<div>
  <h3>Leads list:</h3>
  <ul  class="list-group leads" >
       <li class="list-group-item"  *ngFor = "let lead of leads" >
           id: {{lead.id}}, sorce: {{lead.sorce}}           
        </li>
  </ul>
</div>